<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
      <app-heading>
        <span heading-intro><i class="bi bi-mortarboard-fill fs-1"></i></span>
        <span heading-title>Educational Background</span>
        <span heading-sub>Academic foundation and qualifications</span>
      </app-heading>
      <app-details>
        <ng-content>
          <p class="text-center">
            <b
              >BSc in Mathematics & Mathematical Statistics</b
            >
            <br />
            <i class="bi bi-bank"></i> &nbsp;
            <b>University of the Free State</b>
            <br />
            <i class="bi bi-geo-fill"></i> Bloamfontein, Free State
            <br />
            <i class="bi bi-calendar-check-fill"></i> Graduated: December 2019
            <br />
            <i class="fa-solid fa-certificate"></i> Udergraduate Program
          </p>
          <app-horizontal-line />
          <p>
            <b><i class="fa-solid fa-brain"></i> Academic Foundation </b>
            <br><br>
            <i class="bi bi-calculator-fill"></i> Algebra (Linear and Abstract), Calculus (Derivatives, Integrals, Sequences and Series etc.), Discrete Mathematics (Logic, Set Theory, Functions, Relations etc.), Analysis (Real and Complex).
            <br>
            <i class="bi bi-bar-chart-line-fill"></i> Descriptive Statistics, Probability Theory, Inference, Multivariate Analysis, Regression Analysis, Generalized Linear Models Time Series Analysis.
        </p>
        </ng-content>
      </app-details>
    </div>
  </div>
</div>
