<header>
  <p (click)="goToHome()" >Eviwe</p>
  <nav>
    <ul>
      <li>
        <a routerLink="/experience" class="btn" [class.active-border] = "isRouteActive('/experience')"
          ><i class="bi bi-luggage-fill"></i> Experience</a
        >
      </li>
      <li>
        <a routerLink="/projects" class="btn" [class.active-border] = "isRouteActive('/projects')"
          ><i class="bi bi-rocket-takeoff"></i> Projects</a
        >
      </li>
      <li>
        <a routerLink="/skills" class="btn" [class.active-border] = "isRouteActive('/skills')"
          ><i class="bi bi-tools"></i> Skills</a
        >
      </li>
      <li>
        <a routerLink="/education" class="btn" [class.active-border] = "isRouteActive('/education')"
          ><i class="bi bi-mortarboard-fill"></i> Education</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="btn" [class.active-border] = "isRouteActive('/contact')"
          ><i class="bi bi-telephone-fill"></i> Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
<!--For small screens-->
<div #offScreenMenu class="off-screen-menu" [class.active]="isHamMenuActive">
  <ul>
     <li>
        <a routerLink="/experience" class="btn" [class.active-border] = "isRouteActive('/experience')"
          ><i class="bi bi-luggage-fill"></i> Experience</a
        >
      </li>
      <li>
        <a routerLink="/projects" class="btn" [class.active-border] = "isRouteActive('/projects')"
          ><i class="bi bi-rocket-takeoff"></i> Projects</a
        >
      </li>
      <li>
        <a routerLink="/skills" class="btn" [class.active-border] = "isRouteActive('/skills')"
          ><i class="bi bi-tools"></i> Skills</a
        >
      </li>
      <li>
        <a routerLink="/education" class="btn" [class.active-border] = "isRouteActive('/education')"
          ><i class="bi bi-mortarboard-fill"></i> Education</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="btn" [class.active-border] = "isRouteActive('/contact')"
          ><i class="bi bi-telephone-fill"></i> Contact</a
        >
      </li>
  </ul>
</div>
<!--Humburger button-->
<nav>
  <div #hamMenu class="ham-menu" [class.active]="isHamMenuActive" (click)="toggleHamMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
