<header>
  <img src="picture.jpg" alt="my picture" />
  <nav>
    <ul>
      <li>
        <a routerLink="/about"><i class="bi bi-file-person-fill"></i> About</a>
      </li>
      <li>
        <a routerLink="/experience"><i class="bi bi-luggage-fill"></i> Experience</a>
      </li>
        <li>
        <a routerLink="/skills"><i class="bi bi-tools"></i> Skills</a>
      </li>
       <li>
        <a routerLink="/education"><i class="bi bi-mortarboard-fill"></i> Education</a>
      </li>
      <li>
        <a routerLink="/contact"><i class="bi bi-telephone-fill"></i> Contact</a>
      </li>
    </ul>
  </nav>
</header>
