<footer class="footer py-3">
  <div class="container text-center">
    <a href="https://github.com/1996Woso" target="_blank" rel="noopener">
      <i class="bi bi-github fs-5"></i>
    </a>
    &nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/eviwe-khohlombe-7a59091b9/" target="_blank" rel="noopener">
      <i class="bi bi-linkedin fs-5"></i>
    </a>
    &nbsp;&nbsp;
    <a href="#" target="_blank" rel="noopener"><i class="bi bi-instagram fs-5"></i></a>
       &nbsp;&nbsp;
    <a href="#" target="_blank" rel="noopener"><i class="bi bi-facebook fs-5"></i></a>
       &nbsp;&nbsp;
    <a href="#" target="_blank" rel="noopener"><i class="bi bi-tiktok fs-5"></i></a>
    <p class="mb-0">
      &copy; {{ currentYear }} Eviwe Khohlombe. All rights reserved.
    </p>
    <small>Built with Angular & ❤️ in South Africa</small>
  </div>
</footer>
