.heading {
  background-color:rgba(236, 227, 227, 0.658);
  border-radius: 0.4rem;
  border: 3px solid rgb(27, 26, 26);
}

.heading-sub {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(90, 76, 76);
}

.heading-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #000;
}

@media(max-width: 768px){
  .heading-title {
  font-size: 1rem;
}

.heading-sub {
  font-size: 0.8rem !important;
}
}
