.heading {
  /* background-color:rgba(37, 36, 36, 0.762); */
  color: black;
  border-radius: 0.4rem;
  /* border-top: 0.4rem solid rgb(59, 57, 59);
  border-bottom: 0.4rem solid rgb(59, 57, 59); */
  /* box-shadow: 0 0 12px rgb(38, 38, 38); */
  border: 2px solid black;
}

.heading-sub {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heading-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
