img {
    max-height: 15rem;
    border-radius: 1rem;
}

.about {
    border-radius: 0.4rem;
    background-color: rgb(232, 224, 224);
    border-left: 5rem solid  rgb(27, 26, 26);
    border-right: 5rem solid rgb(27, 26, 26);
    border-bottom: 1.5rem solid rgba(17, 17, 17, 0.9);
    border-top: 1.5rem solid rgba(17, 17, 17, 0.9);
}
