<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
      <div class="row gap-0 justify-content-center about">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-4 col-xl-4 mb-3 mt-2 d-flex justify-content-center">
          <img src="picture.jpg" alt="my picture" class="img-fluid"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 mb-3 mt-3">
          <p class="text-center">
            <strong class="fs-6">Hello, I'm</strong>
            <br />
            <b class="fs-5">Eviwe Khohlombe</b>
            <br />
            <strong>Software Developer <br>Data Analyst</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
