
.education-info {
  background-color: rgba(236, 227, 227, 0.658);
  color: rgb(35, 34, 34);
  border-radius: 0.4rem;
  border-left: 3rem solid darkgray;
  border-right: 3rem solid darkgray;
}

.tool {
    background-color: rgb(171, 33, 111);
    border-radius: 0.4rem;
    color: white;
    padding: 0 0.5rem;
}