<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
      <app-heading>
        <span heading-intro><i class="bi bi-luggage-fill fs-1"></i></span>
        <span heading-title>Professional Experience</span>
        <span heading-sub>2+ years of working experience</span>
      </app-heading>
      @for (experience of experience; track $index) {
      <app-details>
        <ng-content>
          <p>
            <b>{{ experience.title }}</b>
            <br />
            <i class="bi bi-bank"></i> &nbsp;
            <b>{{ experience.company }}</b>
            <br />
            <i class="bi bi-geo-fill"></i> {{ experience.location }}
            <br />
            <i class="bi bi-calendar-check-fill"></i> {{ experience.period }}
          </p>
          <app-horizontal-line />
          <p>
            <b><i class="bi bi-rocket-takeoff"></i> Key Responsibilities</b>
            <br />
            @if (typeof experience.responsibilities === 'string') {
            <span>{{ experience.responsibilities }}</span>
            <br />
            <br />
            } @else {
            <span>
              <ol>
                @for (item of experience.responsibilities; track $index) {
                <li>{{ item }}</li>
                }
              </ol>
            </span>
            }
            <b><i class="bi bi-tools"></i> Technologies</b>
            @if (experience.company === 'Mindworx Consulting and Academy' &&
            experience.title === 'Systems Development trainee') {
            <br />
            <i>Introduction to:</i>
            }
          </p>
        </ng-content>
        <ng-container skills-list>
          @for (item of experience.technologies; track $index) {
          <span class="tool">{{ item }}</span> &nbsp; }
        </ng-container>
      </app-details>
      }
    </div>
  </div>
</div>
