<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
      <app-heading>
        <span heading-intro><i class="bi bi-luggage-fill fs-1"></i></span>
        <span heading-title>Professional Experience</span>
        <span heading-sub>2+ working experience</span>
      </app-heading>
      <app-details>
        <ng-content>
          <p>
            <b>Software Developer & Data Analyst Intern</b>
            <br />
            <i class="bi bi-bank"></i> &nbsp;
            <b>City of Johannesburg Metropolitan Municipality</b>
            <br />
            <i class="bi bi-geo-fill"></i> Johannesburg, Gauteng
            <br />
            <i class="bi bi-calendar-check-fill"></i> Jan 2024 - June 2025
          </p>
          <app-horizontal-line />
          <p>
            <b><i class="bi bi-rocket-takeoff"></i> Key Responsibilities</b>
            <br />
            <span>
              <ol>
                <li>
                  Plan, develop, test, deploy, and maintain web applications.
                </li>
                <li>Write SQL statements and stored procedures.</li>
                <li>
                  Communicate with clients to gather application requirements.
                </li>
              </ol>
            </span>
            <b><i class="bi bi-tools"></i> Technologies</b>
            <br />
            <span class="tool">.NET</span> &nbsp;
            <span class="tool">C#</span> &nbsp;
            <span class="tool">ASP.NET Core</span> &nbsp;
            <span class="tool">ASP.NET Core MVC</span> &nbsp;
            <span class="tool">JavaScript</span> &nbsp;
            <span class="tool">MS SQL Server</span> &nbsp;
            <span class="tool">IIS</span>
          </p>
        </ng-content>
      </app-details>
    </div>
  </div>
</div>
