<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
      <app-heading>
        <span heading-intro><i class="bi bi-emoji-smile-fill fs-1"></i></span>
        <span heading-title>Get In Touch</span>
        <span heading-sub>Let's connect and discuss opportunities</span>
      </app-heading>
      <div
        class="row contact-info"
      >
        <div class="col-12 p-2">
          <i class="bi bi-envelope-at-fill" style="color: rgb(14, 14, 251);"></i> &nbsp;
          <a
            href="mailto:eviwe.khohlombe@gmail.com"
            style="text-decoration: none"
          >
            <u>eviwe.khohlombe&#64;gmail.com</u>
          </a>
          <hr>
          <i class="bi bi-telephone-fill"></i> &nbsp; <span class="text-dark">0672723395</span>
          <hr>
          <i class="bi bi-whatsapp" ></i> &nbsp; <span class="text-dark">0780646700</span>
          <hr>
          <i class="bi bi-linkedin"></i> &nbsp;
          <a href="https://www.linkedin.com/in/eviwe-khohlombe-7a59091b9/">https://www.linkedin.com/in/eviwe-khohlombe-7a59091b9/</a>
        </div>
      </div>
    </div>
  </div>
</div>
