a {
  color: rgb(26, 25, 25);
}

hr {
  height: 5px;
  border: none;
  background: linear-gradient(to right, #020c16, #333435);
  border-radius: 2px;
}

.contact-info {
  color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px rgb(38, 38, 38);
}
