<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
      <app-heading>
        <span heading-intro><i class="bi bi-tools fs-1"></i></span>
        <span heading-title>Technical Skills & Expertise</span>
        <span heading-sub>Full-stack development proficiency</span>
      </app-heading>
      <!--Progamming languages-->
      <app-details>
        <span skills-title
          ><i class="bi bi-pc-display-horizontal"></i> Programming Languages
        </span>
        <ng-container skills-list>
          <app-image-card
            *ngFor="
              let skill of skillsService.getProgrammingLanguages();
              let i = index
            "
            [imageUrl]="skill.url"
            [imageAlt]="skill.alt"
            [imageName]="skill.caption!"
            width="5rem"
            height="7.5rem"
          />
        </ng-container>
      </app-details>
      <!--Frameworks-->
      <app-details>
        <span skills-title> <i class="bi bi-globe2"></i> Frameworks </span>
        <ng-container skills-list>
          <app-image-card
            *ngFor="let skill of skillsService.getFrameworks(); let i = index"
            [imageUrl]="skill.url"
            [imageAlt]="skill.alt"
            [imageName]="skill.caption!"
            width="5rem"
            height="7.5rem"
          />
        </ng-container>
      </app-details>
      <!--Databases-->
      <app-details>
        <span skills-title><i class="bi bi-database-fill"></i> Databases </span>
        <ng-container skills-list>
          <app-image-card
            *ngFor="let skill of databaseSkills; let i = index"
            [imageUrl]="skill.url"
            [imageAlt]="skill.alt"
            [imageName]="skill.caption!"
            width="5rem"
            height="7.5rem"
          />
        </ng-container>
      </app-details>
      <!--Tools and Technologies-->
      <app-details>
        <span skills-title
          ><i class="bi bi-gear-fill"></i> Tools and Technologies</span
        >
        <ng-container skills-list>
          <app-image-card
            *ngFor="
              let skill of skillsService.getToolsAndTechnologies();
              let i = index
            "
            [imageUrl]="skill.url"
            [imageAlt]="skill.alt"
            [imageName]="skill.caption!"
            width="5rem"
            height="7.5rem"
          />
        </ng-container>
      </app-details>
    </div>
  </div>
</div>
