<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
      <app-heading>
        <span heading-intro><i class="bi bi-tools fs-1"></i></span>
        <span heading-title>Technical Skills & Expertise</span>
        <span heading-sub>Full-stack development proficiency</span>
      </app-heading>
      <!--Progamming languages-->
      <div class="row skills-info mb-3">
        <div class="col-12 col-xs-12 col-sm-12 p-2">
          <p>
            <b
              ><i class="bi bi-pc-display-horizontal"></i> Programming
              Languages</b
            >
            <br />
          </p>

          <app-horizontal-line />
          <div class="d-flex justify-content-start flex-wrap gap-3">
            <app-skill-card
              imageUrl="C.png"
              imageName="C#"
              imageAlt="C# Image"
            />
            <app-skill-card
              imageUrl="javascript.png"
              imageName="JavaScript"
              imageAlt="JavaScript Image"
            />
            <app-skill-card
              imageUrl="typescript.png"
              imageName="TypeScript"
              imageAlt="TypeScript Image"
            />
          </div>
        </div>
      </div>
      <!--Frameworks-->
      <div class="row skills-info mb-3">
        <div class="col-12 col-xs-12 col-sm-12 p-2">
          <p>
            <b><i class="bi bi-pc-display-horizontal"></i> Frameworks </b>
            <br />
          </p>

          <app-horizontal-line />
          <div class="d-flex justify-content-start flex-wrap gap-3">
            <app-skill-card
              imageUrl="NET core.png"
              imageName=".NET Core"
              imageAlt=".NET Core"
            />
            <app-skill-card imageUrl="MVC.png" imageName="MVC" imageAlt="MVC" />
            <app-skill-card
              imageUrl="ASP.NET Core.png"
              imageName="ASP.NET Core"
              imageAlt="ASP.NET Core"
            />
            <app-skill-card
              imageUrl="Angular.png"
              imageName="Angular"
              imageAlt="Angular"
            />
            <app-skill-card
              imageUrl="Blazor.png"
              imageName="Blazor"
              imageAlt="Angular"
            />
          </div>
        </div>
      </div>
      <!--Databases-->
      <div class="row skills-info mb-3">
        <div class="col-12 col-xs-12 col-sm-12 p-2">
          <p>
            <b><i class="bi bi-database-fill"></i> Databases </b>
            <br />
          </p>

          <app-horizontal-line />
          <div class="d-flex justify-content-start flex-wrap gap-3">
            <app-skill-card
              imageUrl="Microsoft SQL Server.png"
              imageName="SQL Server"
              imageAlt="SQL Server"
            />
          </div>
        </div>
      </div>
      <!--Tools and Technologies-->
      <div class="row skills-info mb-3">
        <div class="col-12 col-xs-12 col-sm-12 p-2">
          <p>
            <b><i class="bi bi-gear-fill"></i> Tools and Technologies </b>
            <br />
          </p>

          <app-horizontal-line />
          <div class="d-flex justify-content-start flex-wrap gap-3">
            <app-skill-card
              imageUrl="HTML5.png"
              imageName="HTML5"
              imageAlt="HTML"
            />
            <app-skill-card
              imageUrl="CSS3.png"
              imageName="CSS3"
              imageAlt="CSS"
            />
            <app-skill-card
              imageUrl="Bootstrap.png"
              imageName="Bootstrap"
              imageAlt="Bootstrap"
            />
            <app-skill-card imageUrl="Git.png" imageName="Git" imageAlt="Git" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
