/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  /* margin: 0; */
  background-color: #e4ddea;
}

main {
  width: 90%;
  margin: 0rem 5%;
  /* padding-bottom: 10rem; */
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  max-width: 85rem;
}

@media (min-width: 768px) {
  #dashboard {
    flex-direction: row;
  }
}
@media(max-width: 768px){
    .bi {
        font-size: 1rem !important;
    }
}
/*Icons*/
.bi-tools {
    color: rgb(76, 71, 71)
}

.bi-postage-fill {
    color: rgb(167, 149, 47);
}

.bi-calendar-check-fill {
    color: rgb(108, 162, 114);
}

.bi-geo-fill {
    color: rgb(176, 57, 57);
}

.bi-bank {
    color: black;
}

.bi-rocket-takeoff {
    color: brown;
}

.bi-luggage-fill {
    color: rgb(30, 30, 30);
}

.bi-database-fill {
  color: firebrick;
}

.bi-pc-display-horizontal {
  color: rgb(19, 19, 19)
}

.bi-gear-fill {
  color: rgb(27, 27, 27);
}

.fa-certificate {
    color: rgb(167, 149, 47);
}

.bi-mortarboard-fill {
    color:black;
}

.bi-bar-chart-line-fill {
  color: rgb(107, 58, 181);
}

.bi-calculator-fill {
  color: rgb(162, 124, 54);
}

.fa-brain {
  color: rgb(202, 148, 47);
}

.bi-linkedin {
  color: rgb(14, 14, 251);
}

.bi-whatsapp {
  color: rgb(15, 235, 15);
}

.bi-telephone-fill {
  color: rgb(15, 235, 15);
}

.bi-emoji-smile-fill {
  color: rgb(56, 56, 54);
}

.bi-github {
  color: black;
}

.bi-instagram {
  color: rgb(236, 101, 177);
}

.bi-tiktok {
  color: black;
}

.bi-globe2 {
  color: rgb(75, 73, 173);
}